footer {
    background-color: #292929;
    padding: 40px;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        @media all and (max-width: 600px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .footer-item_1 {
            flex-basis: 50%;

            i {
                color: yellow;
                font-size: 3rem;

                }
            
            h3 {
                font-weight: 300;
                font-size: 1rem;
                color: #fff;
                }
        }

        .footer-item_2 {
            flex-basis: 50%;

            i {
                color: yellow;
                font-size: 3rem;

                }
            
            a {
                font-weight: 300;
                font-size: 1rem;
                color: #fff;
                text-decoration: none;
                display: block;
                }
        }

        .footer-item_3 {
            flex-basis: 100%;

            p {
                margin: 0 100px;
                color: #fff;
                font-size: 0.8rem;
                font-weight: 100;
                margin: 0 17%;
                margin-top: 10px;
            }
        }
    }
}